.formContainer {
    color: var(--textColour);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px
}

.addProjectForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px
}

.formContainer {
    width: 100%;
}

.formContainer h2 {
    font-size: 150%;
}

.formContainer p {
    font-size: 60%
}

.projectInput {
    border-style: solid;
    border-color: var(--titleColour);
    background-color: #f7f7ea;
    height: 35px;
    width: 100%;
    outline: none;
    color: black;
    border-radius: 7px;
}

.button {
    font-size: 110%;
    color: black;
    background-color: #f7f7ea;
    width: 200px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    background-color: black;
    color: #f7f7ea;
    text-decoration: none;
}

