.backEndContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backEditorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}