

.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headingContainer {
    margin-top: 50px;
    text-align: center;
    color: var(--textColour);
    font-weight: bold;
    font-size: 220%;
}

.mainListContainer {
    width: 100%;
    background: linear-gradient(aliceblue, white);
    height: 70vh;
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 7px;

}

