.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headingContainer {
    margin-top: 50px;
    text-align: center;
    color: #b4002d;
    font-weight: bold;
    font-size: 220%;
}

.mainListContainer {
    width: 100%
}

